/*
font-family: 'Montserrat', sans-serif;
cor padrão #c58855
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Cabeçalho */
header {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}
.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
}
.hlogo {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hmenu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hmenu ul {
    display: flex;
}
.hmenu li {
    list-style: none;
}
.hmenu a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000000;
}
.hmenu .active,
.hmenu a:hover {
    border-bottom: 5px solid #c58855;
    color: #cccccc;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Banner */
.banner {
    height: calc(100vh - 100px);
    background-color: #333333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 300.7vw;
    height: 100%;
    margin-left: 0vw;/*
    margin-left: -100.3vw; Para Slide 2
    margin-left: -200.6vw; Para Slide 3 
    */
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner .slidearea h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.banner .slidearea h1 span {
    color: #c58855;
}
.banner .slidearea h2 {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}
.banner .slidearea a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background-color: #c58855;
    padding: 13px 50px;
    border-radius: 20px;
    margin-top: 40px;
}
.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .active {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Default */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_title {
    font-size: 20px;
}
.default .section_desc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #888888;
}
.default .section_body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}
.white {
    background-color: #ffffff;
}
.white .section_title,
.white .section_body {
    color: #000000;
}
.light {
    background-color: #eeeeee;
}
.light .section_title,
.light .section_body {
    color: #000000;
}
.dark {
    background-color: #000000;
}
.dark .section_title,
.dark .section_body {
    color: #ffffff;
}
.btn_default {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background-color: #c58855;
    padding: 13px 50px;
    border-radius: 20px;
    margin-top: 40px;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - About Us */
.sb_aboutus {
    display: flex;
}
.sb_aboutus_text {
    flex: 1;
}
.sb_aboutus_image {
    width: 520px;
    text-align: center;
}
.sb_aboutus_image img {
    width: 480px;
    box-shadow: 0px 5px 10px #333333;
}
.sb_aboutus_text p {
    font-size: 14px;
    line-height: 25px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Services */
.sb_services {
    height: 210px;
    display: flex;
}
.sb_sev {
    flex: 1;
    border-right: 2px solid #555555;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.sb_services:first-child {
    border-left: 2px solid #555555;
}
.sb_services h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
}
.sb_services h2 {
    font-size: 12px;
    font-weight: normal;
    color: #888888;
    line-height: 20px;
}
.sb_sev_icon {
    text-align: center;
    height: 100px;
    padding-top: 10px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Projects */
.sb_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb_projects_filter {
    border: 1px solid #999999;
    background-color: #eeeeee;
    border-radius: 29px;
    padding: 0px 20px;
}
.sb_projects_filter ul {
    display: flex;
}
.sb_projects_filter li {
    display: flex;
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999999;
    cursor: pointer;
    color: #333;
}
.sb_projects_filter .active,
.sb_projects_filter li:hover {
    border-bottom: 4px solid #c58855;
}
.sb_projects_filter li:first-child {
    border-left: none;
}
.sb_projects_photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sb_photo {
    width: 280px;
}
.sb_photo_area {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.sb_photo_area img {
    width: inherit;
    height: inherit;
}
.sb_photo_info {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sb_photo_info h5 {
    font-weight: 600;
    font-size: 18px;
}
.sb_photo_info p {
    font-size: 13px;
}
.sb_photo_area:hover .sb_photo_info {
    display: flex;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Projects */
.bg_team {
    background-image: url('../media/foto04.jpg');
    background-position: center;
    background-size: cover;
    padding: 0px;
}
.sb_team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.bg_team_area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.sb_team .sliders {
    width: 300vw;
    height: 100%;
    margin-left: 0vw;/*
    margin-left: -100.3vw; Para Slide 2
    margin-left: -200.6vw; Para Slide 3 
    */
}
.sb_team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 20px;
    min-height: 300px;
}
.sb_team .slide_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
    padding: 40px;
}
.bg_team_area .sliders_pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_team_area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.bg_team_area .active {
    background-color: #c58855;
}
.sb_team_avatar {
    width: 150px;
    height: auto;
}
.sb_team_name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
}
.sb_team_role {
    font-size: 14px;
    margin-top: 5px;
    color: #999999;
}
.sb_team_social {
    display: flex;
}
.sb_team_social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #cccccc;
    border-radius: 13px;
    margin: 20px 5px 0px 5px;
}
.sb_team_social a:hover {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Happy */
.happy {
    overflow: hidden;
}
.happy_sliders {
    width: 300vw;
    margin-left: 0vw;
}
.happy_slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    max-width: 1140px;
    text-align: center;
}
.happy_slidearea {
    padding: 0px 200px;
    margin-bottom: 60px;
}
.happy_slidearea img {
    width: 150px;
    height: auto;
    margin-bottom: 30px;
}
.happy_slidearea h1 {
    font-size: 25px;
    margin-bottom: 5px;
}
.happy_slidearea h2 {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 600;
}
.happy_slidearea p {
    line-height: 30px;
}
.happy .sliders_pointer {
    width: 1140px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy .point {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.happy .active {
    background-color: #c58855;
}
.happy .point:hover {
    background-color: #c58855;
}
.happy .happy_sliders:hover {
    margin-left: -167.6vw;
    /*-83.8vw
      -167.6
      */
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Sponsors */
#sponsors {
    height: 158px;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sponsors img {
    margin: 0px 45px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Price */
.sb_prices {
    display: flex;
    justify-content: center;
}
.sb_prices_plan {
    margin-right: 12px;
    margin-left: 12px;
    background-color: #ffffff;
    width: 205px;
    height: 275px;
    padding: 26px;
    text-align: center;
}
.sb_prices_plan h3 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.sb_prices_plan h2 {
    font-size: 25px;
    font-weight: 700;
}
.sb_prices_plan h4 {
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 16px;
    color: #999999;
}
.sb_prices_plan p {
    font-size: 8px;
    font-weight: 500;
    margin-bottom: 17px;
    color: #333333;
    line-height: 9px;
    margin-bottom: 30px;
}
.sb_prices_plan a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    padding: 12px 32px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 20px;
}
.sb_prices_plan a:hover {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Products */
.s_products {
    border-top: 2px solid #cccccc;
}
.sb_products {
    margin: 15px;
}
.sb_products_product {
    border-bottom: 2px solid #cccccc;
    height: 400px;
    display: flex;
}
.sb_products_product_image {
    width: 500px;
    text-align: center;
}
.sb_products_product_info {
    flex: 1;
}
.sb_products_product_info_area {
    display: flex;
    margin-bottom: 20px;
}
.sb_products_product_info_area .image {
    margin-right: 35px;
}
.sb_products_product_info_area h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 21px;
}
.sb_products_product_info_area p {
    font-size: 14px;
    color: #888;
    line-height: 26px;
}
.sb_products_product_info_area li {
    list-style: none;
    line-height: 26px;
    font-size: 14px;
    color: #888;
}
.sb_products_footer {
    text-align: center;
}
.sb_products_footer .sliders_pointers {
    margin-top: 30px;
    margin-bottom: 38px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sb_products_footer .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sb_products_footer .active {
    background-color: #c58855;
}
.sb_products_footer a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    background-color: #555555;
    color: #ffffff;
    padding: 13px 50px;
    border-radius: 25px;
}
.sb_products_footer a:hover {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Facts */
.sb_facts {
    display: flex;
    justify-content: space-around;
}
.sb_facts_work {
    width: 170px;
    text-align: center;
}
.sb_facts_work_title {
    height: 120px;
}
.sb_facts_work h1 {
    font-size: 45px;
    color: #c58855;
}
.sb_facts_work_div {
    width: 20px;
    height: 3px;
    background-color: #888888;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px;
}
.sb_facts_work h2 {
    font-size: 17px;
    text-transform: uppercase;
    line-height: 25px;
    text-align: center;
}
.sb_facts_work p {
    font-size: 11px;
    font-weight: 600;
    color: #888888;
    text-align: center;
    line-height: 20px;
    margin-top: 12px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Redes */
.redes .section_body {
    max-width: 1140px;
    margin: auto;
    min-height: 75px;
}
.sb_redes {
    display: flex;
    height: 75px;
    justify-content: center;
    align-items: center;
}
.sb_redes_share {
    margin-right: 15px;
}
.sb_redes h5,
.sb_redes h6 {
    text-transform: uppercase;
    color: #888888;
}
.sb_redes_icon {
    margin-left: 40px;
    margin-right: 8px;
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
}
.sb_redes .twitter {
    background-color: #33c4f0;
}
.sb_redes .linkedin {
    background-color: #137eb4;
}
.sb_redes .facebook {
    background-color: #336296;
}
.sb_redes .googleplus {
    background-color: #ea4438;
}
.sb_redes .pinterest {
    background-color: #b81c29;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Contact */
.sb_form {
    width: 540px;
    justify-content: space-between;
    margin: auto;
}
input#fname,
input#femail,
input#fsubject,
input#fmessage,
textarea {
    border: none;
    border-bottom: 2px solid #aaaaaa;
    padding: 10px 0px;
    font-weight: 600;
    color: #aaaaaa;
    margin-bottom: 25px;
    outline: 0;
}
input#fname::placeholder,
input#femail::placeholder,
input#fsubject::placeholder,
textarea#fmessage::placeholder {
    color: #aaaaaa;
}
input#fname,
input#femail {
    width: 255px;
}
input#fname {
    margin-right: 25px;
}
input#fsubject {
    width: 540px;
}
textarea#fmessage {
    resize: none;
    width: 540px;
    height: 100px;
}
#fsubmit {
    background-color: #c58855;
    border: none;
    padding: 13px 45px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 12px;
    border-radius: 25px;
    cursor: pointer;
}
.fbutton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}