/*
font-family: 'Montserrat', sans-serif;
cor padrão #c58855
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Cabeçalho */
header {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}
.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
}
.hlogo {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hmenu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hmenu ul {
    display: flex;
}
.hmenu li {
    list-style: none;
}
.hmenu a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000000;
}
.hmenu .active,
.hmenu a:hover {
    border-bottom: 5px solid #c58855;
    color: #cccccc;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Banner */
.banner {
    height: calc(100vh - 100px);
    background-color: #333333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .sliders {
    width: 300.7vw;
    height: 100%;
    margin-left: 0vw;/*
    margin-left: -100.3vw; Para Slide 2
    margin-left: -200.6vw; Para Slide 3 
    */
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .slidearea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.banner .slidearea h1{
    font-size: 60px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.banner .slidearea h1 span {
    color: #c58855;
}
.banner .slidearea h2 {
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}
.banner .slidearea a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background-color: #c58855;
    padding: 13px 50px;
    border-radius: 20px;
    margin-top: 40px;
}
.banner .sliders_pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .active {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Default */
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section_title,
.default .section_desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section_title {
    font-size: 20px;
}
.default .section_desc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #888888;
}
.default .section_body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
}
.light {
    background-color: #f7f7f7;
}
.light .section_title,
.light .section_body {
    color: #000000;
}
.dark {
    background-color: #000000;
}
.dark .section_title,
.dark .section_body {
    color: #ffffff;
}
.btn_default {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background-color: #c58855;
    padding: 13px 50px;
    border-radius: 20px;
    margin-top: 40px;
}

/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - About Us */
.sb_aboutus {
    display: flex;
}
.sb_aboutus_text {
    flex: 1;
}
.sb_aboutus_image {
    width: 520px;
    text-align: center;
}
.sb_aboutus_image img {
    width: 480px;
    box-shadow: 0px 5px 10px #333333;
}
.sb_aboutus_text p {
    font-size: 14px;
    line-height: 25px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Services */
.sb_services {
    height: 210px;
    display: flex;
}
.sb_sev {
    flex: 1;
    border-right: 2px solid #555555;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
.sb_services:first-child {
    border-left: 2px solid #555555;
}
.sb_services h1 {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
}
.sb_services h2 {
    font-size: 12px;
    font-weight: normal;
    color: #888888;
    line-height: 20px;
}
.sb_sev_icon {
    text-align: center;
    height: 100px;
    padding-top: 10px;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Projects */
.sb_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sb_projects_filter {
    border: 1px solid #999999;
    background-color: #eeeeee;
    border-radius: 29px;
    padding: 0px 20px;
}
.sb_projects_filter ul {
    display: flex;
}
.sb_projects_filter li {
    display: flex;
    list-style: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #999999;
    cursor: pointer;
    color: #333;
}
.sb_projects_filter .active,
.sb_projects_filter li:hover {
    border-bottom: 4px solid #c58855;
}
.sb_projects_filter li:first-child {
    border-left: none;
}
.sb_projects_photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sb_photo {
    width: 280px;
}
.sb_photo_area {
    margin: 10px;
    width: 260px;
    height: 160px;
}
.sb_photo_area img {
    width: inherit;
    height: inherit;
}
.sb_photo_info {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    padding: 20px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sb_photo_info h5 {
    font-weight: 600;
    font-size: 18px;
}
.sb_photo_info p {
    font-size: 13px;
}
.sb_photo_area:hover .sb_photo_info {
    display: flex;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Projects */
.bg_team {
    background-image: url('../media/foto04.jpg');
    background-position: center;
    background-size: cover;
    padding: 0px;
}
.sb_team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.bg_team_area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.sb_team .sliders {
    width: 300vw;
    height: 100%;
    margin-left: 0vw;/*
    margin-left: -100.3vw; Para Slide 2
    margin-left: -200.6vw; Para Slide 3 
    */
}
.sb_team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #ffffff;
    margin-right: 20px;
    min-height: 300px;
}
.sb_team .slide_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
    padding: 40px;
}
.bg_team_area .sliders_pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_team_area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #c58855;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.bg_team_area .active {
    background-color: #c58855;
}
.sb_team_avatar {
    width: 150px;
    height: auto;
}
.sb_team_name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    margin-top: 40px;
}
.sb_team_role {
    font-size: 14px;
    margin-top: 5px;
    color: #999999;
}
.sb_team_social {
    display: flex;
}
.sb_team_social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #cccccc;
    border-radius: 13px;
    margin: 20px 5px 0px 5px;
}
.sb_team_social a:hover {
    background-color: #c58855;
}
/* ##### ##### ##### ##### ##### ##### ##### ##### */
/* Section - Happy */
